{% extends 'layout.html' %}

{% block title %}
{{ post.title }} - {{ data.config.title }}
{% endblock %}

{% block content %}
<div id="post" class="center">

    <h1 class="title">{{ post.title }}</h1>

    <div class="left">
        <div class="content">{% autoescape false %}{{ post.body }}{% endautoescape %}</div>
    </div><!--

 --><div class="right">
        <p class="time">{{ helper.time(post.created, 'MMMM DD, YYYY') }}</p> 

        <div class="cat">
        {% for category in post.categories %}
        <p><span>#</span> <a href="{{ category.url }}">{{ category.name}}</a></p>
        {% endfor %}
        </div>
    </div>

    <div class="relate">
        {% if post.prev %}
        {% set prev = helper.post(post.prev) %}
        <p><span>PREV: </span><a rel="prev" href="{{ prev.url }}">{{ prev.title }}</a></p>
        {% endif %}

        {% if post.next %}
        {% set next = helper.post(post.next) %}
        <p><span>NEXT: </span><a rel="next" href="{{ next.url }}">{{ next.title }}</a></p>
        {% endif %}

        <p><span></span><a rel="all" href="{{ data.config.root }}/">VIEW ALL POSTS</a></p>
    </div>

    <div class="comments">
        <div id="disqus_thread"></div>
    </div>

</div>
{% endblock %}

{% block script %}
{% if data.config.comment.disqus %}
<script>
(function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = '//{{ data.config.comment.disqus }}.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
{% else %}
{% endif %}
{% endblock %}
