
body, div, h1, h2, h3, h4, h5, p, ul, li {
    margin: 0;
    padding: 0;
    font-weight: normal;
    list-style: none;
    line-height: 1;
}
html {
    -webkit-text-size-adjust: 100%;
    height: 100%;
}
html, body {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
}
body {
    font-family: 'Lucida Sans', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace, 'Microsoft YaHei', 'WenQuanYi Micro Hei';
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
    background: #fff;
    color: #666;
    min-height: 100%;
}

a {
    text-decoration: none;
}

.center {
    max-width: 720px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

/* header */
.header {
    padding-top: 70px;
    border-top: 3px solid #333;
}
.header .center {
    position: relative;
}
.logo {
    font-family: sans-serif;
    font-size: 18px;
    color: #333;
    letter-spacing: 1px;
    position: relative;
}
.logo:after {
    content: '';
    height: 3px;
    background: #ddd;
    width: 60%;
    position: absolute;
    bottom: -20px;
    left: 0;
}
.menuicon {
    position: absolute;
    right: 0;
    top: 0;
    width: 16px;
    height: 3px;
    border-top: 11px solid #333; 
    border-bottom: 11px solid #333; 
    border-left: 5px solid #333;
    border-right: 5px solid #333;
    background: #fff;
    border-radius: 2px;
    cursor: pointer;
}
.menuicon:before, .menuicon:after {
    content: '';
    display: block;
    width: 16px;
    height: 3px;
    background: #fff;
    margin-top: 9px;
}
.menuicon:before {
    margin-top: -6px;
}
.menu {
    position: absolute;
    right: 0;
    top: 0;
    font-family: sans-serif;
}
.menu.active .menuitem {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}
.menuitem {
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    margin-right: 30px;
    transform: translateY(-10px);
}
.menuitem a {
    font-size: 14px;
    color: #fff;
    padding: 10px;
    background: #333;
    display: block;
    border-bottom: 1px solid #222;
}
.menuitem a:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.menuitem a:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom: 0;
}
.menuitem a:hover {
    background: #222;
}

/* posts */
#posts {
    margin-top: 100px;
    padding-bottom: 50px;
}
.year {
    border-bottom: 1px solid #eee;
    font-size: 18px;
    padding-bottom: 20px;
    color: #999;
    margin: 40px 0 20px;
}
.entry {
    margin-bottom: 20px;
    font-size: 16px;
}
.entry a {
    color: #333;
}
.entry a:hover {
    background: #fff4cc;
}
.entry span {
    color: #999;
    float: right;
}

/* pagination */
#pagination {
    margin-top: 70px;
}
#pagination p {
    margin-bottom: 15px;
}
#pagination a {
    font-size: 16px;
    color: #333;
}
#pagination a:hover {
    text-decoration: underline;
}

/* footer */
.footer {
    margin-top: 70px;
}
.footer .center {
    border-top: 1px solid #eee;
    padding: 50px 0;
    font-size: 14px;
    line-height: 1.4;
}
.footer a {
    text-decoration: underline;
    color: #666;
}

/* post */
#post {
    margin-top: 100px;
    padding-bottom: 50px;
}
.title {
    color: #222;
    font-size: 36px;
    line-height: 1.4;
    margin-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}
.time {
    color: #999;
    font-size: 14px;
}
.cat {
    margin-top: 70px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}
.cat p {
    margin-bottom: 10px;
    color: #999;
}
.cat a {
    color: #333;
}
.cat a:hover {
    text-decoration: underline;
}
.relate {
    margin-top: 20px;
}
.relate p {
    margin-bottom: 16px;
}
.relate p:last-child {
    margin-top: 30px;
}
.relate a {
    color: #333;
}
.relate a:hover {
    text-decoration: underline;
}
.relate span {
    width: 60px;
    display: inline-block;
}
.comments {
    margin: 70px 0 0;
}

/* article content */
.content {
    color: #333;
    margin-top: 50px;
}
.content p {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 16px;
}
.content p:first-child {
    margin-top: 20px;
}
.content h1, .content h2, .content h3, .content h4, .content h5 {
    font-weight: 700;
    margin-bottom: 14px;
    margin-top: 20px;
    color: #222;
    line-height: 1.4;
}
.content h5 {
    font-size: 16px;
}
.content h4 {
    font-size: 18px;
}
.content h3 {
    font-size: 20px;
}
.content h2 {
    font-size: 22px;
    padding-bottom: 6px;
}
.content h1 {
    font-size: 24px;
    padding-bottom: 12px;
}
.content blockquote {
    margin: 36px 0;
    color: #7b7b7b;
    position: relative;
    padding: 0 32px;
}
.content blockquote:before {
    content: '"';
    position: absolute;
    left: 0;
    top: 0;
    font-size: 36px;
}
.content blockquote p {
    margin-bottom: 8px;
    font-style: italic;
}
.content a {
    color: #333;
    text-decoration: underline;
}
.content hr {
    border: none;
    text-align: center;
    margin: 36px 0;
}
.content hr:after {
    content: '路 路 路';
    font-size: 20px;
    color: #999;
}
.content ul, .content ol {
    margin: 10px 0;
    list-style: none;
    padding-left: 0;
}
.content li {
    margin-top: 4px;
    line-height: 1.6;
}
.content ol > li {
    counter-increment: counter;
}
.content ul li:before {
    margin-right: 5px;
    content: '路';
    float: left;
    font-weight: bold;
    color: #333;
}
.content ol > li:before {
    content: counter(counter);
    float: left;
    margin-right: 10px;
    padding-right: 6px;
    background: linear-gradient(#666, #666);
    background-size: 3px 3px;
    background-position: right 15px;
    background-repeat: no-repeat;
}
.content li p {
    line-height: 1.6;
}
.content img {
    max-width: 100%;
}
code {
    background: #f7f7f7;
    border: 1px solid #e6e6e6;
    padding: 1px 5px;
    border-radius: 1px;
}

table {
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 0;
    border-collapse: collapse;
}
table tr {
    border-top: 1px solid #cccccc;
    background-color: white;
    margin: 0;
    padding: 0;
}
table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
table tr th {
    font-weight: bold;
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr td {
    border: 1px solid #cccccc;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
}
table tr th :first-child, table tr td :first-child {
    margin-top: 0;
}
table tr th :last-child, table tr td :last-child {
    margin-bottom: 0;
}

/* Ocean Dark Theme */
/* https://github.com/gavsiu */
/* Original theme - https://github.com/chriskempson/base16 */

/* Ocean Comment */
.hljs-comment,
.hljs-quote {
  color: #65737e;
}

/* Ocean Red */
.hljs-variable,
.hljs-template-variable,
.hljs-tag,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class,
.hljs-regexp,
.hljs-deletion {
  color: #bf616a;
}

/* Ocean Orange */
.hljs-number,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params,
.hljs-meta,
.hljs-link {
  color: #d08770;
}

/* Ocean Yellow */
.hljs-attribute {
  color: #ebcb8b;
}

/* Ocean Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-addition {
  color: #a3be8c;
}

/* Ocean Blue */
.hljs-title,
.hljs-section {
  color: #8fa1b3;
}

/* Ocean Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: #b48ead;
}

.hljs {
    background: #2b303b;
    border-radius: 3px;
    padding: 15px 10px;
    overflow-x: auto;
    font-size: 14px;
    margin-bottom: 16px;
}
.hljs pre {
    white-space: pre;
}
.hljs table {
    margin-bottom: 0;
    line-height: 1.4;
}
.hljs .mark {
    display: none;
}
.hljs tr, .hljs td, .hljs code {
    border: none;
    background: transparent;
    padding: 0;
}
.hljs .line {
    text-align: right;
    color: #c0c5ce;
    padding-right: 10px;
}
.code pre code {
  background: transparent;
  display: block;
  color: #c0c5ce;
  font-family: monospace;
  border: none;
  margin-right: 10px;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

@media screen and (max-width: 760px) {
    pre {
        width: 100vw;
        left: 50%;
        right: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        border-radius: 0;
    }
    .header {
        padding: 50px 0 30px;
    }
    #posts {
        margin-top: 0;
    }
    #pagination {
        margin-top: 0;
    }
    .footer .center {
        padding: 30px 0;
    }

    #post {
        margin-top: 50px;
    }
    .title {
        font-size: 26px;
    }
}
