<div class="footer">
    <div class="center">
        {{ config.title }} / 
        powered by <a target="_blank" href="https://github.com/acyortjs/acyort">AcyOrt</a> / 
        <a target="_blank" href="{{ url(config.rss) }}">RSS</a> /
        <a target="_blank" href="https://github.com/{{ config.user }}/{{ config.repository }}/issues">{{ __('title.source') }}</a>
    </div>
</div>

<script>

var menu = document.querySelector('.menu');

document.querySelector('.main').addEventListener('click', function(e) {
    if (e.target.classList.toString().indexOf('menuicon') > -1) {
        return menu.classList.toggle('active')
    } 

    return menu.classList.remove('active')
})

</script>
