{% macro render(pagination) %}

<div id="pagination" class="center">
  <div>
    {% if pagination.prev %}
    <a rel="prev" href="{{ _url(pagination.prev) }}">{{ __('prev') }}</a>
    {% else %}
    <a class="disabled">{{ __('prev') }}</a>
    {% endif %}

    {{ _paginator(pagination) }}

    {% if pagination.next %}
    <a rel="next" href="{{ _url(pagination.next) }}">{{ __('next') }}</a>
    {% else %}
    <a rel="next" class="disabled">{{ __('next') }}</a>
    {% endif %}
  </div>
</div>

{% endmacro %}
