{% macro render(pagination) %}

<div id="pagination" class="center">
    {% if pagination.prev %}
    <a rel="prev" href="{{ pagination.prev }}">{{ __('pager.prev') }}</a>
    {% else %}
    <a class="disabled">{{ __('pager.prev') }}</a>
    {% endif %}

    <span>{{ pagination.current }} / {{ pagination.total }}</span>

    {% if pagination.next %}
    <a rel="next" href="{{ pagination.next }}">{{ __('pager.next') }}</a>
    {% else %}
    <a class="disabled">{{ __('pager.next') }}</a>
    {% endif %}
</div>

{% endmacro %}
