{% macro render(type, helper) %}

<div id="posts" class="center">

    {% for id in type.posts %}
    {% set post = helper.post(id) %}

    {% set year %}
    {% set post.year = helper.time(post.updated, 'YYYY') %}
    {% if post.year !== year %}
    {% set year = post.year %}
        <p class="year">{{ year }}</p>
    {% endif %}

        <div class="entry">
            {% if post.thumb %}
            <a data-thumb="{{ post.thumb }}" href="{{ post.url }}">{{ post.title }}</a>
            {% else %}
            <a href="{{ post.url }}">{{ post.title }}</a>
            {% endif %}

            <span>{{ helper.time(post.updated, 'MMMM DD') }}</span>
        </div>
    {% endfor %}

</div>

{% endmacro %}
