{% macro render(page) %}

<div id="posts" class="center">
    <h2>Archives</h2>

    {% for id in page.posts %}
    {% set p = _post(id) %}

    {% set year %}
    {% set p.year = _time(p.created, 'YYYY') %}
    {% if p.year !== year %}
    {% set year = p.year %}
        <p class="year">{{ year }}</p>
    {% endif %}

        <div class="entry">
            <a href="{{ _url(p.url) }}">{{ p.title }}</a>
            <span>{{ _time(p.updated, 'MMMM DD') }}</span>
        </div>
    {% endfor %}

</div>

{% endmacro %}
